@import "main.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.alert {
    font-size: 0.8rem !important;
}

.back_to_web {
    position: fixed;
    z-index: 2;
}

.back_to_web svg {
    width: 3.8rem;
    fill: #fff;
    margin: 1rem;
}

.scroll-down img {
    width: 60%;
}

.wpp-block {
    height: 200vh;
    background: radial-gradient(ellipse at bottom, #182c5f 0%, #132249 100%);
}

.loginModal {
    position: fixed;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.loginModal.is-closed {
    bottom: -200px;
    transition-duration: 0.6s;
}

.modal-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
}
.modal-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
}
.modal-desc {
    margin: 6px 0;
}
.modal-right {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
}
.modal-left {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
}
.modal-left img.bg {
    width: 100%;
    height: 100%;
    transform: scale(2);
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 1.2s;
    position: relative;
}

.modal-left img.logo {
    width: 8%;
    margin: 0.7rem;
    position: absolute;
    z-index: 1;
}

.loginModal.is-open {
    height: 100%;
    bottom: 0;
}
.loginModal.is-open .modal-container {
    opacity: 1;
    transition-duration: 0.6s;
    pointer-events: auto;
    transform: translateY(0) scale(1);
}
.loginModal.is-open .modal-left img.bg {
    transform: scale(1);
}
.loginModal.is-open .modal-right {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
}
.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}

.modal-buttons a {
    color: rgba(51, 51, 51, 0.6);
    font-size: 14px;
}

.sign-up {
    margin: 5rem 0 0;
    font-size: 14px;
    text-align: center;
}

.sign-up a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.input-button {
    padding: 5px 14px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #ebb633;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    cursor: pointer;
}
.input-button:hover {
    background: #ddaa27;
}

.input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 0 4px;
    margin-bottom: 0.4rem;
    transition: 0.3s;
}
.input-block input {
    outline: 0;
    border: 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    border: 1px solid #ddd;
    border-radius: 0.35rem;
}
.input-block input::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}
.input-block input:-ms-input-placeholder {
    color: #ccc;
    opacity: 1;
}
.input-block input::placeholder {
    color: #ccc;
    opacity: 1;
}
.input-block:focus-within {
    border-color: #8c7569;
}
.input-block:focus-within .input-label {
    color: rgba(140, 117, 105, 0.8);
}

.icon-button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
}

.scroll-down {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    transform: translate(-50%, -50%);
}
.scroll-down svg {
    margin-top: 16px;
    width: 52px;
    fill: currentColor;
}

@media (max-width: 750px) {
    .modal-container {
        width: 90%;
    }

    .modal-left {
        display: none;
    }
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1364px 843px #fff, 1702px 188px #fff, 466px 878px #fff,
        508px 1136px #fff, 240px 497px #fff, 720px 20px #fff, 18px 373px #fff,
        1926px 227px #fff, 1100px 201px #fff, 772px 871px #fff,
        1235px 1921px #fff, 1285px 289px #fff, 1373px 1851px #fff,
        611px 1907px #fff, 896px 485px #fff, 174px 330px #fff,
        1376px 1024px #fff, 1306px 978px #fff, 1785px 242px #fff,
        776px 250px #fff, 898px 608px #fff, 1964px 1069px #fff,
        1903px 209px #fff, 424px 666px #fff, 1727px 591px #fff,
        1229px 975px #fff, 1102px 1221px #fff, 316px 1337px #fff,
        87px 430px #fff, 968px 1700px #fff, 924px 1260px #fff, 1619px 53px #fff,
        1779px 343px #fff, 45px 1940px #fff, 1435px 1215px #fff,
        741px 1966px #fff, 1804px 724px #fff, 1058px 1408px #fff,
        505px 1749px #fff, 818px 1316px #fff, 495px 1102px #fff, 2px 1009px #fff,
        393px 805px #fff, 1884px 1074px #fff, 1232px 966px #fff,
        1374px 901px #fff, 1412px 1111px #fff, 1832px 627px #fff,
        689px 385px #fff, 1487px 1753px #fff, 1853px 1975px #fff,
        1648px 651px #fff, 1614px 1794px #fff, 1750px 1278px #fff,
        44px 1725px #fff, 1039px 1745px #fff, 1531px 1747px #fff,
        1388px 456px #fff, 564px 722px #fff, 1224px 1470px #fff,
        1228px 1887px #fff, 1356px 1649px #fff, 52px 1125px #fff,
        243px 1137px #fff, 18px 1890px #fff, 94px 1424px #fff,
        1810px 1796px #fff, 1395px 805px #fff, 1436px 21px #fff,
        832px 1227px #fff, 625px 804px #fff, 138px 1589px #fff, 985px 581px #fff,
        593px 965px #fff, 725px 913px #fff, 76px 1857px #fff, 653px 41px #fff,
        1002px 1126px #fff, 1620px 1769px #fff, 1947px 1782px #fff,
        1697px 543px #fff, 99px 1527px #fff, 1407px 452px #fff,
        1093px 327px #fff, 446px 1618px #fff, 1199px 1218px #fff,
        476px 1693px #fff, 1056px 64px #fff, 1455px 1538px #fff,
        253px 766px #fff, 1791px 367px #fff, 771px 294px #fff, 230px 997px #fff,
        462px 388px #fff, 682px 83px #fff, 1141px 357px #fff, 1716px 430px #fff,
        982px 1500px #fff, 1444px 883px #fff, 420px 118px #fff,
        1328px 882px #fff, 1440px 607px #fff, 558px 1038px #fff,
        593px 210px #fff, 496px 1187px #fff, 1617px 1467px #fff, 47px 978px #fff,
        1069px 1226px #fff, 147px 54px #fff, 1365px 1473px #fff,
        448px 1511px #fff, 1201px 1767px #fff, 1144px 580px #fff,
        1450px 124px #fff, 1972px 1599px #fff, 1745px 449px #fff,
        1168px 1636px #fff, 258px 1589px #fff, 441px 1496px #fff,
        211px 806px #fff, 1428px 553px #fff, 1709px 917px #fff,
        974px 1337px #fff, 245px 1002px #fff, 1622px 691px #fff,
        253px 348px #fff, 805px 672px #fff, 333px 618px #fff, 1201px 374px #fff,
        171px 1293px #fff, 969px 1476px #fff, 1292px 1452px #fff,
        751px 314px #fff, 86px 923px #fff, 973px 1920px #fff, 242px 1997px #fff,
        1249px 1001px #fff, 1276px 1680px #fff, 1842px 1812px #fff,
        54px 1446px #fff, 1370px 196px #fff, 1981px 987px #fff,
        1560px 146px #fff, 1185px 1680px #fff, 1403px 318px #fff,
        281px 1820px #fff, 1794px 958px #fff, 830px 1688px #fff,
        999px 1794px #fff, 1928px 733px #fff, 762px 667px #fff,
        697px 1494px #fff, 723px 384px #fff, 1031px 1691px #fff,
        967px 545px #fff, 958px 337px #fff, 1169px 1605px #fff,
        315px 1530px #fff, 362px 55px #fff, 412px 1330px #fff,
        1982px 1514px #fff, 1831px 238px #fff, 843px 1093px #fff,
        420px 1065px #fff, 409px 1730px #fff, 864px 812px #fff,
        1360px 809px #fff, 69px 1001px #fff, 1401px 1638px #fff,
        1300px 947px #fff, 1902px 1145px #fff, 756px 1198px #fff,
        417px 1726px #fff, 1840px 1422px #fff, 1539px 1270px #fff,
        1563px 212px #fff, 692px 362px #fff, 1890px 1465px #fff,
        1491px 1078px #fff, 1630px 939px #fff, 750px 770px #fff,
        965px 232px #fff, 1032px 1798px #fff, 1079px 1514px #fff,
        1534px 613px #fff, 1318px 931px #fff, 1811px 719px #fff,
        187px 1129px #fff, 1129px 36px #fff, 1876px 1324px #fff,
        228px 421px #fff, 17px 319px #fff, 1172px 197px #fff, 1321px 1620px #fff,
        1945px 1146px #fff, 1868px 1010px #fff, 726px 1365px #fff,
        562px 1728px #fff, 86px 1655px #fff, 1380px 1057px #fff,
        1959px 1361px #fff, 781px 1989px #fff, 875px 1100px #fff,
        1781px 1583px #fff, 1706px 1686px #fff, 489px 932px #fff,
        1052px 1195px #fff, 669px 923px #fff, 544px 899px #fff,
        1531px 1793px #fff, 926px 1333px #fff, 1200px 715px #fff,
        756px 637px #fff, 686px 960px #fff, 1813px 1792px #fff, 42px 668px #fff,
        1435px 453px #fff, 1469px 469px #fff, 122px 1762px #fff,
        1743px 291px #fff, 1830px 596px #fff, 1110px 1028px #fff,
        440px 808px #fff, 1763px 508px #fff, 86px 1876px #fff, 1985px 878px #fff,
        674px 118px #fff, 1477px 702px #fff, 373px 1923px #fff,
        106px 1471px #fff, 1784px 1584px #fff, 1830px 677px #fff,
        1922px 80px #fff, 208px 1699px #fff, 1944px 228px #fff,
        1649px 937px #fff, 1822px 547px #fff, 361px 1243px #fff,
        1809px 1718px #fff, 941px 1257px #fff, 367px 1374px #fff,
        1165px 1107px #fff, 400px 370px #fff, 967px 1505px #fff,
        492px 1555px #fff, 568px 537px #fff, 1895px 965px #fff, 45px 1435px #fff,
        1697px 340px #fff, 805px 1495px #fff, 1688px 1116px #fff,
        956px 326px #fff, 1424px 977px #fff, 598px 615px #fff, 1067px 847px #fff,
        704px 755px #fff, 1584px 373px #fff, 1757px 83px #fff, 1151px 852px #fff,
        752px 519px #fff, 500px 234px #fff, 1422px 825px #fff, 489px 1643px #fff,
        1806px 1471px #fff, 108px 1683px #fff, 1290px 29px #fff,
        739px 412px #fff, 1105px 697px #fff, 1067px 653px #fff,
        1463px 414px #fff, 988px 1140px #fff, 1201px 1099px #fff,
        855px 365px #fff, 1852px 894px #fff, 626px 658px #fff, 607px 220px #fff,
        613px 347px #fff, 1515px 1190px #fff, 300px 1740px #fff,
        869px 1393px #fff, 487px 499px #fff, 336px 1634px #fff,
        203px 1642px #fff, 114px 402px #fff, 774px 1011px #fff,
        203px 1493px #fff, 179px 1726px #fff, 1298px 32px #fff, 346px 748px #fff,
        1374px 1050px #fff, 1334px 547px #fff, 490px 468px #fff,
        1961px 1397px #fff, 859px 843px #fff, 1291px 1350px #fff,
        1109px 1445px #fff, 523px 1140px #fff, 419px 615px #fff, 985px 85px #fff,
        345px 1117px #fff, 433px 1319px #fff, 1469px 1409px #fff,
        166px 1770px #fff, 623px 77px #fff, 1309px 1062px #fff,
        1630px 659px #fff, 651px 791px #fff, 240px 275px #fff,
        1718px 1066px #fff, 435px 466px #fff, 1714px 1517px #fff,
        1976px 222px #fff, 1943px 1257px #fff, 691px 1486px #fff,
        145px 1024px #fff, 1740px 1953px #fff, 160px 1618px #fff,
        145px 1196px #fff, 1153px 699px #fff, 556px 1043px #fff,
        407px 1154px #fff, 937px 1976px #fff, 1652px 1211px #fff,
        840px 1366px #fff, 1608px 823px #fff, 1660px 556px #fff,
        1284px 1155px #fff, 1706px 879px #fff, 786px 1762px #fff,
        528px 818px #fff, 414px 1264px #fff, 1274px 1106px #fff,
        1521px 1221px #fff, 1348px 230px #fff, 1522px 13px #fff,
        1724px 532px #fff, 1256px 1228px #fff, 1888px 829px #fff,
        1177px 997px #fff, 1025px 1366px #fff, 1695px 1174px #fff,
        835px 1476px #fff, 1697px 504px #fff, 909px 1331px #fff, 511px 66px #fff,
        311px 734px #fff, 1788px 1287px #fff, 1533px 345px #fff,
        895px 1142px #fff, 530px 1124px #fff, 1818px 266px #fff,
        739px 623px #fff, 758px 324px #fff, 1445px 1998px #fff,
        839px 1201px #fff, 1063px 289px #fff, 1630px 1229px #fff,
        663px 1172px #fff, 1684px 295px #fff, 858px 369px #fff, 10px 1285px #fff,
        1659px 1512px #fff, 40px 56px #fff, 438px 754px #fff, 817px 1164px #fff,
        1648px 1970px #fff, 1373px 239px #fff, 772px 977px #fff,
        1993px 1390px #fff, 1666px 1014px #fff, 1189px 329px #fff,
        1603px 1333px #fff, 1352px 1149px #fff, 572px 1718px #fff,
        172px 913px #fff, 1211px 1831px #fff, 1018px 439px #fff,
        899px 1506px #fff, 1592px 1780px #fff, 473px 1212px #fff,
        1410px 500px #fff, 1860px 1965px #fff, 372px 51px #fff,
        480px 1073px #fff, 1472px 1461px #fff, 260px 412px #fff,
        1657px 341px #fff, 511px 1795px #fff, 1297px 827px #fff,
        995px 157px #fff, 3px 1184px #fff, 1696px 1399px #fff,
        1479px 1698px #fff, 1241px 1764px #fff, 1691px 570px #fff,
        1404px 1953px #fff, 1102px 378px #fff, 1581px 732px #fff,
        1072px 234px #fff, 808px 1297px #fff, 1509px 350px #fff,
        267px 1745px #fff, 1448px 1735px #fff, 361px 1365px #fff,
        1324px 1311px #fff, 1576px 1448px #fff, 1777px 135px #fff,
        619px 887px #fff, 894px 1871px #fff, 85px 1041px #fff,
        1455px 1137px #fff, 1517px 872px #fff, 1672px 847px #fff,
        372px 266px #fff, 273px 1455px #fff, 324px 698px #fff, 796px 1330px #fff,
        1577px 158px #fff, 1011px 961px #fff, 1097px 252px #fff, 757px 33px #fff,
        1329px 1483px #fff, 1800px 1721px #fff, 9px 1136px #fff,
        1398px 657px #fff, 1186px 1857px #fff, 1176px 157px #fff,
        792px 531px #fff, 1918px 1200px #fff, 1966px 427px #fff, 8px 1627px #fff,
        91px 752px #fff, 878px 36px #fff, 64px 384px #fff, 1791px 286px #fff,
        740px 1675px #fff, 1461px 463px #fff, 1486px 532px #fff,
        1613px 566px #fff, 568px 1865px #fff, 1593px 287px #fff,
        730px 1114px #fff, 647px 863px #fff, 1885px 575px #fff,
        1446px 1781px #fff, 1942px 1288px #fff, 1513px 1340px #fff,
        929px 181px #fff, 1532px 273px #fff, 1762px 1419px #fff,
        330px 1300px #fff, 977px 292px #fff, 1683px 280px #fff, 42px 658px #fff,
        1524px 266px #fff, 215px 1742px #fff, 1470px 1101px #fff,
        1680px 1909px #fff, 619px 12px #fff, 1183px 1617px #fff,
        933px 947px #fff, 249px 1270px #fff, 1915px 1401px #fff,
        1924px 1075px #fff, 1623px 469px #fff, 244px 1499px #fff,
        53px 1822px #fff, 86px 512px #fff, 1647px 1585px #fff, 709px 288px #fff,
        867px 750px #fff, 668px 231px #fff, 205px 1131px #fff, 232px 1141px #fff,
        430px 21px #fff, 612px 1132px #fff, 1333px 354px #fff, 787px 480px #fff,
        1566px 430px #fff, 1319px 443px #fff, 336px 850px #fff,
        1799px 370px #fff, 1097px 235px #fff, 499px 437px #fff,
        737px 1572px #fff, 1115px 1437px #fff, 489px 341px #fff,
        1475px 1678px #fff, 1060px 1168px #fff, 1028px 910px #fff,
        545px 1689px #fff, 1682px 649px #fff, 10px 536px #fff, 208px 592px #fff,
        636px 1820px #fff, 897px 1049px #fff, 1436px 1738px #fff,
        1505px 1553px #fff, 770px 333px #fff, 423px 311px #fff,
        1436px 595px #fff, 101px 1834px #fff, 1004px 290px #fff,
        1447px 1663px #fff, 1000px 1496px #fff, 1402px 1022px #fff,
        1863px 1246px #fff, 61px 1411px #fff, 119px 383px #fff, 444px 248px #fff,
        1539px 1723px #fff, 1681px 935px #fff, 347px 861px #fff,
        1003px 1646px #fff, 561px 1639px #fff, 1915px 1524px #fff,
        1564px 14px #fff, 565px 1256px #fff, 90px 39px #fff, 1909px 615px #fff,
        866px 1614px #fff, 210px 515px #fff, 342px 1421px #fff,
        1508px 108px #fff, 733px 1560px #fff, 1317px 776px #fff,
        562px 1831px #fff, 305px 1562px #fff, 1561px 1908px #fff,
        1658px 336px #fff, 1556px 942px #fff, 573px 1261px #fff,
        816px 894px #fff, 517px 129px #fff, 869px 531px #fff, 303px 1055px #fff,
        368px 1356px #fff, 1652px 149px #fff, 1065px 1065px #fff,
        522px 225px #fff, 50px 1728px #fff, 1605px 17px #fff, 158px 1567px #fff,
        921px 1540px #fff, 1672px 1058px #fff, 602px 477px #fff,
        965px 1653px #fff, 266px 369px #fff, 693px 1434px #fff, 79px 1091px #fff,
        1583px 1701px #fff, 523px 1396px #fff, 1831px 686px #fff,
        1025px 694px #fff, 555px 1807px #fff, 465px 1735px #fff,
        1328px 214px #fff, 632px 41px #fff, 1035px 1022px #fff,
        631px 1955px #fff, 278px 491px #fff, 155px 90px #fff, 427px 1450px #fff,
        1837px 1989px #fff, 1496px 57px #fff, 1785px 1252px #fff,
        1170px 863px #fff, 1347px 1449px #fff, 56px 1423px #fff,
        434px 259px #fff, 930px 1958px #fff, 83px 1807px #fff, 1439px 448px #fff,
        1969px 1336px #fff, 1558px 1569px #fff, 1158px 1043px #fff,
        1191px 1834px #fff, 521px 291px #fff, 89px 499px #fff, 880px 343px #fff,
        244px 151px #fff, 747px 281px #fff, 977px 1549px #fff, 602px 357px #fff,
        557px 740px #fff, 1523px 845px #fff, 976px 1084px #fff, 829px 918px #fff,
        679px 676px #fff, 20px 1861px #fff, 1887px 81px #fff, 851px 1274px #fff,
        1127px 1858px #fff, 1150px 1643px #fff, 732px 433px #fff,
        1746px 689px #fff, 848px 536px #fff, 1681px 1160px #fff,
        1989px 1572px #fff, 1600px 442px #fff, 816px 1733px #fff,
        499px 100px #fff, 1931px 23px #fff, 305px 25px #fff, 768px 1116px #fff,
        1938px 1852px #fff, 656px 944px #fff, 542px 269px #fff, 320px 317px #fff,
        11px 569px #fff, 714px 1523px #fff, 1761px 833px #fff, 1243px 35px #fff,
        23px 1143px #fff, 1123px 1283px #fff, 728px 21px #fff, 8px 1039px #fff,
        522px 1353px #fff, 531px 1130px #fff, 1134px 198px #fff,
        1736px 314px #fff, 208px 389px #fff, 1075px 775px #fff,
        362px 1950px #fff, 1388px 1326px #fff, 1467px 5px #fff,
        632px 1783px #fff, 1522px 681px #fff, 1142px 1698px #fff,
        250px 586px #fff, 1680px 812px #fff, 1118px 90px #fff, 538px 348px #fff,
        1574px 43px #fff, 52px 629px #fff, 1266px 258px #fff, 1752px 1975px #fff,
        218px 1566px #fff, 1805px 1306px #fff, 885px 1832px #fff,
        899px 223px #fff, 1992px 304px #fff, 1670px 1273px #fff,
        1007px 1372px #fff, 1524px 1525px #fff, 1557px 731px #fff,
        1471px 784px #fff, 1604px 1404px #fff, 266px 1704px #fff,
        362px 40px #fff, 356px 554px #fff, 1109px 467px #fff, 126px 1062px #fff,
        1681px 1847px #fff, 1595px 782px #fff, 380px 1304px #fff,
        296px 1391px #fff, 741px 898px #fff, 1572px 312px #fff,
        1524px 930px #fff, 1323px 1833px #fff, 1395px 19px #fff,
        460px 479px #fff, 1754px 1805px #fff, 397px 54px #fff, 225px 1211px #fff,
        569px 1850px #fff, 1044px 1916px #fff, 616px 1184px #fff,
        1310px 1655px #fff, 1555px 1950px #fff, 1571px 378px #fff,
        879px 1978px #fff, 526px 632px #fff, 583px 115px #fff,
        1284px 1895px #fff, 286px 578px #fff, 42px 1162px #fff,
        780px 1025px #fff, 302px 1529px #fff, 1762px 644px #fff,
        1257px 1710px #fff, 780px 1318px #fff, 77px 1811px #fff,
        1646px 1973px #fff, 1413px 705px #fff, 1755px 714px #fff,
        783px 210px #fff, 1963px 738px #fff, 1979px 182px #fff, 131px 935px #fff,
        1649px 1303px #fff, 1558px 810px #fff, 284px 1061px #fff,
        1637px 1326px #fff, 587px 740px #fff, 256px 288px #fff,
        780px 1594px #fff, 129px 1914px #fff, 1255px 1235px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1364px 843px #fff, 1702px 188px #fff, 466px 878px #fff,
        508px 1136px #fff, 240px 497px #fff, 720px 20px #fff, 18px 373px #fff,
        1926px 227px #fff, 1100px 201px #fff, 772px 871px #fff,
        1235px 1921px #fff, 1285px 289px #fff, 1373px 1851px #fff,
        611px 1907px #fff, 896px 485px #fff, 174px 330px #fff,
        1376px 1024px #fff, 1306px 978px #fff, 1785px 242px #fff,
        776px 250px #fff, 898px 608px #fff, 1964px 1069px #fff,
        1903px 209px #fff, 424px 666px #fff, 1727px 591px #fff,
        1229px 975px #fff, 1102px 1221px #fff, 316px 1337px #fff,
        87px 430px #fff, 968px 1700px #fff, 924px 1260px #fff, 1619px 53px #fff,
        1779px 343px #fff, 45px 1940px #fff, 1435px 1215px #fff,
        741px 1966px #fff, 1804px 724px #fff, 1058px 1408px #fff,
        505px 1749px #fff, 818px 1316px #fff, 495px 1102px #fff, 2px 1009px #fff,
        393px 805px #fff, 1884px 1074px #fff, 1232px 966px #fff,
        1374px 901px #fff, 1412px 1111px #fff, 1832px 627px #fff,
        689px 385px #fff, 1487px 1753px #fff, 1853px 1975px #fff,
        1648px 651px #fff, 1614px 1794px #fff, 1750px 1278px #fff,
        44px 1725px #fff, 1039px 1745px #fff, 1531px 1747px #fff,
        1388px 456px #fff, 564px 722px #fff, 1224px 1470px #fff,
        1228px 1887px #fff, 1356px 1649px #fff, 52px 1125px #fff,
        243px 1137px #fff, 18px 1890px #fff, 94px 1424px #fff,
        1810px 1796px #fff, 1395px 805px #fff, 1436px 21px #fff,
        832px 1227px #fff, 625px 804px #fff, 138px 1589px #fff, 985px 581px #fff,
        593px 965px #fff, 725px 913px #fff, 76px 1857px #fff, 653px 41px #fff,
        1002px 1126px #fff, 1620px 1769px #fff, 1947px 1782px #fff,
        1697px 543px #fff, 99px 1527px #fff, 1407px 452px #fff,
        1093px 327px #fff, 446px 1618px #fff, 1199px 1218px #fff,
        476px 1693px #fff, 1056px 64px #fff, 1455px 1538px #fff,
        253px 766px #fff, 1791px 367px #fff, 771px 294px #fff, 230px 997px #fff,
        462px 388px #fff, 682px 83px #fff, 1141px 357px #fff, 1716px 430px #fff,
        982px 1500px #fff, 1444px 883px #fff, 420px 118px #fff,
        1328px 882px #fff, 1440px 607px #fff, 558px 1038px #fff,
        593px 210px #fff, 496px 1187px #fff, 1617px 1467px #fff, 47px 978px #fff,
        1069px 1226px #fff, 147px 54px #fff, 1365px 1473px #fff,
        448px 1511px #fff, 1201px 1767px #fff, 1144px 580px #fff,
        1450px 124px #fff, 1972px 1599px #fff, 1745px 449px #fff,
        1168px 1636px #fff, 258px 1589px #fff, 441px 1496px #fff,
        211px 806px #fff, 1428px 553px #fff, 1709px 917px #fff,
        974px 1337px #fff, 245px 1002px #fff, 1622px 691px #fff,
        253px 348px #fff, 805px 672px #fff, 333px 618px #fff, 1201px 374px #fff,
        171px 1293px #fff, 969px 1476px #fff, 1292px 1452px #fff,
        751px 314px #fff, 86px 923px #fff, 973px 1920px #fff, 242px 1997px #fff,
        1249px 1001px #fff, 1276px 1680px #fff, 1842px 1812px #fff,
        54px 1446px #fff, 1370px 196px #fff, 1981px 987px #fff,
        1560px 146px #fff, 1185px 1680px #fff, 1403px 318px #fff,
        281px 1820px #fff, 1794px 958px #fff, 830px 1688px #fff,
        999px 1794px #fff, 1928px 733px #fff, 762px 667px #fff,
        697px 1494px #fff, 723px 384px #fff, 1031px 1691px #fff,
        967px 545px #fff, 958px 337px #fff, 1169px 1605px #fff,
        315px 1530px #fff, 362px 55px #fff, 412px 1330px #fff,
        1982px 1514px #fff, 1831px 238px #fff, 843px 1093px #fff,
        420px 1065px #fff, 409px 1730px #fff, 864px 812px #fff,
        1360px 809px #fff, 69px 1001px #fff, 1401px 1638px #fff,
        1300px 947px #fff, 1902px 1145px #fff, 756px 1198px #fff,
        417px 1726px #fff, 1840px 1422px #fff, 1539px 1270px #fff,
        1563px 212px #fff, 692px 362px #fff, 1890px 1465px #fff,
        1491px 1078px #fff, 1630px 939px #fff, 750px 770px #fff,
        965px 232px #fff, 1032px 1798px #fff, 1079px 1514px #fff,
        1534px 613px #fff, 1318px 931px #fff, 1811px 719px #fff,
        187px 1129px #fff, 1129px 36px #fff, 1876px 1324px #fff,
        228px 421px #fff, 17px 319px #fff, 1172px 197px #fff, 1321px 1620px #fff,
        1945px 1146px #fff, 1868px 1010px #fff, 726px 1365px #fff,
        562px 1728px #fff, 86px 1655px #fff, 1380px 1057px #fff,
        1959px 1361px #fff, 781px 1989px #fff, 875px 1100px #fff,
        1781px 1583px #fff, 1706px 1686px #fff, 489px 932px #fff,
        1052px 1195px #fff, 669px 923px #fff, 544px 899px #fff,
        1531px 1793px #fff, 926px 1333px #fff, 1200px 715px #fff,
        756px 637px #fff, 686px 960px #fff, 1813px 1792px #fff, 42px 668px #fff,
        1435px 453px #fff, 1469px 469px #fff, 122px 1762px #fff,
        1743px 291px #fff, 1830px 596px #fff, 1110px 1028px #fff,
        440px 808px #fff, 1763px 508px #fff, 86px 1876px #fff, 1985px 878px #fff,
        674px 118px #fff, 1477px 702px #fff, 373px 1923px #fff,
        106px 1471px #fff, 1784px 1584px #fff, 1830px 677px #fff,
        1922px 80px #fff, 208px 1699px #fff, 1944px 228px #fff,
        1649px 937px #fff, 1822px 547px #fff, 361px 1243px #fff,
        1809px 1718px #fff, 941px 1257px #fff, 367px 1374px #fff,
        1165px 1107px #fff, 400px 370px #fff, 967px 1505px #fff,
        492px 1555px #fff, 568px 537px #fff, 1895px 965px #fff, 45px 1435px #fff,
        1697px 340px #fff, 805px 1495px #fff, 1688px 1116px #fff,
        956px 326px #fff, 1424px 977px #fff, 598px 615px #fff, 1067px 847px #fff,
        704px 755px #fff, 1584px 373px #fff, 1757px 83px #fff, 1151px 852px #fff,
        752px 519px #fff, 500px 234px #fff, 1422px 825px #fff, 489px 1643px #fff,
        1806px 1471px #fff, 108px 1683px #fff, 1290px 29px #fff,
        739px 412px #fff, 1105px 697px #fff, 1067px 653px #fff,
        1463px 414px #fff, 988px 1140px #fff, 1201px 1099px #fff,
        855px 365px #fff, 1852px 894px #fff, 626px 658px #fff, 607px 220px #fff,
        613px 347px #fff, 1515px 1190px #fff, 300px 1740px #fff,
        869px 1393px #fff, 487px 499px #fff, 336px 1634px #fff,
        203px 1642px #fff, 114px 402px #fff, 774px 1011px #fff,
        203px 1493px #fff, 179px 1726px #fff, 1298px 32px #fff, 346px 748px #fff,
        1374px 1050px #fff, 1334px 547px #fff, 490px 468px #fff,
        1961px 1397px #fff, 859px 843px #fff, 1291px 1350px #fff,
        1109px 1445px #fff, 523px 1140px #fff, 419px 615px #fff, 985px 85px #fff,
        345px 1117px #fff, 433px 1319px #fff, 1469px 1409px #fff,
        166px 1770px #fff, 623px 77px #fff, 1309px 1062px #fff,
        1630px 659px #fff, 651px 791px #fff, 240px 275px #fff,
        1718px 1066px #fff, 435px 466px #fff, 1714px 1517px #fff,
        1976px 222px #fff, 1943px 1257px #fff, 691px 1486px #fff,
        145px 1024px #fff, 1740px 1953px #fff, 160px 1618px #fff,
        145px 1196px #fff, 1153px 699px #fff, 556px 1043px #fff,
        407px 1154px #fff, 937px 1976px #fff, 1652px 1211px #fff,
        840px 1366px #fff, 1608px 823px #fff, 1660px 556px #fff,
        1284px 1155px #fff, 1706px 879px #fff, 786px 1762px #fff,
        528px 818px #fff, 414px 1264px #fff, 1274px 1106px #fff,
        1521px 1221px #fff, 1348px 230px #fff, 1522px 13px #fff,
        1724px 532px #fff, 1256px 1228px #fff, 1888px 829px #fff,
        1177px 997px #fff, 1025px 1366px #fff, 1695px 1174px #fff,
        835px 1476px #fff, 1697px 504px #fff, 909px 1331px #fff, 511px 66px #fff,
        311px 734px #fff, 1788px 1287px #fff, 1533px 345px #fff,
        895px 1142px #fff, 530px 1124px #fff, 1818px 266px #fff,
        739px 623px #fff, 758px 324px #fff, 1445px 1998px #fff,
        839px 1201px #fff, 1063px 289px #fff, 1630px 1229px #fff,
        663px 1172px #fff, 1684px 295px #fff, 858px 369px #fff, 10px 1285px #fff,
        1659px 1512px #fff, 40px 56px #fff, 438px 754px #fff, 817px 1164px #fff,
        1648px 1970px #fff, 1373px 239px #fff, 772px 977px #fff,
        1993px 1390px #fff, 1666px 1014px #fff, 1189px 329px #fff,
        1603px 1333px #fff, 1352px 1149px #fff, 572px 1718px #fff,
        172px 913px #fff, 1211px 1831px #fff, 1018px 439px #fff,
        899px 1506px #fff, 1592px 1780px #fff, 473px 1212px #fff,
        1410px 500px #fff, 1860px 1965px #fff, 372px 51px #fff,
        480px 1073px #fff, 1472px 1461px #fff, 260px 412px #fff,
        1657px 341px #fff, 511px 1795px #fff, 1297px 827px #fff,
        995px 157px #fff, 3px 1184px #fff, 1696px 1399px #fff,
        1479px 1698px #fff, 1241px 1764px #fff, 1691px 570px #fff,
        1404px 1953px #fff, 1102px 378px #fff, 1581px 732px #fff,
        1072px 234px #fff, 808px 1297px #fff, 1509px 350px #fff,
        267px 1745px #fff, 1448px 1735px #fff, 361px 1365px #fff,
        1324px 1311px #fff, 1576px 1448px #fff, 1777px 135px #fff,
        619px 887px #fff, 894px 1871px #fff, 85px 1041px #fff,
        1455px 1137px #fff, 1517px 872px #fff, 1672px 847px #fff,
        372px 266px #fff, 273px 1455px #fff, 324px 698px #fff, 796px 1330px #fff,
        1577px 158px #fff, 1011px 961px #fff, 1097px 252px #fff, 757px 33px #fff,
        1329px 1483px #fff, 1800px 1721px #fff, 9px 1136px #fff,
        1398px 657px #fff, 1186px 1857px #fff, 1176px 157px #fff,
        792px 531px #fff, 1918px 1200px #fff, 1966px 427px #fff, 8px 1627px #fff,
        91px 752px #fff, 878px 36px #fff, 64px 384px #fff, 1791px 286px #fff,
        740px 1675px #fff, 1461px 463px #fff, 1486px 532px #fff,
        1613px 566px #fff, 568px 1865px #fff, 1593px 287px #fff,
        730px 1114px #fff, 647px 863px #fff, 1885px 575px #fff,
        1446px 1781px #fff, 1942px 1288px #fff, 1513px 1340px #fff,
        929px 181px #fff, 1532px 273px #fff, 1762px 1419px #fff,
        330px 1300px #fff, 977px 292px #fff, 1683px 280px #fff, 42px 658px #fff,
        1524px 266px #fff, 215px 1742px #fff, 1470px 1101px #fff,
        1680px 1909px #fff, 619px 12px #fff, 1183px 1617px #fff,
        933px 947px #fff, 249px 1270px #fff, 1915px 1401px #fff,
        1924px 1075px #fff, 1623px 469px #fff, 244px 1499px #fff,
        53px 1822px #fff, 86px 512px #fff, 1647px 1585px #fff, 709px 288px #fff,
        867px 750px #fff, 668px 231px #fff, 205px 1131px #fff, 232px 1141px #fff,
        430px 21px #fff, 612px 1132px #fff, 1333px 354px #fff, 787px 480px #fff,
        1566px 430px #fff, 1319px 443px #fff, 336px 850px #fff,
        1799px 370px #fff, 1097px 235px #fff, 499px 437px #fff,
        737px 1572px #fff, 1115px 1437px #fff, 489px 341px #fff,
        1475px 1678px #fff, 1060px 1168px #fff, 1028px 910px #fff,
        545px 1689px #fff, 1682px 649px #fff, 10px 536px #fff, 208px 592px #fff,
        636px 1820px #fff, 897px 1049px #fff, 1436px 1738px #fff,
        1505px 1553px #fff, 770px 333px #fff, 423px 311px #fff,
        1436px 595px #fff, 101px 1834px #fff, 1004px 290px #fff,
        1447px 1663px #fff, 1000px 1496px #fff, 1402px 1022px #fff,
        1863px 1246px #fff, 61px 1411px #fff, 119px 383px #fff, 444px 248px #fff,
        1539px 1723px #fff, 1681px 935px #fff, 347px 861px #fff,
        1003px 1646px #fff, 561px 1639px #fff, 1915px 1524px #fff,
        1564px 14px #fff, 565px 1256px #fff, 90px 39px #fff, 1909px 615px #fff,
        866px 1614px #fff, 210px 515px #fff, 342px 1421px #fff,
        1508px 108px #fff, 733px 1560px #fff, 1317px 776px #fff,
        562px 1831px #fff, 305px 1562px #fff, 1561px 1908px #fff,
        1658px 336px #fff, 1556px 942px #fff, 573px 1261px #fff,
        816px 894px #fff, 517px 129px #fff, 869px 531px #fff, 303px 1055px #fff,
        368px 1356px #fff, 1652px 149px #fff, 1065px 1065px #fff,
        522px 225px #fff, 50px 1728px #fff, 1605px 17px #fff, 158px 1567px #fff,
        921px 1540px #fff, 1672px 1058px #fff, 602px 477px #fff,
        965px 1653px #fff, 266px 369px #fff, 693px 1434px #fff, 79px 1091px #fff,
        1583px 1701px #fff, 523px 1396px #fff, 1831px 686px #fff,
        1025px 694px #fff, 555px 1807px #fff, 465px 1735px #fff,
        1328px 214px #fff, 632px 41px #fff, 1035px 1022px #fff,
        631px 1955px #fff, 278px 491px #fff, 155px 90px #fff, 427px 1450px #fff,
        1837px 1989px #fff, 1496px 57px #fff, 1785px 1252px #fff,
        1170px 863px #fff, 1347px 1449px #fff, 56px 1423px #fff,
        434px 259px #fff, 930px 1958px #fff, 83px 1807px #fff, 1439px 448px #fff,
        1969px 1336px #fff, 1558px 1569px #fff, 1158px 1043px #fff,
        1191px 1834px #fff, 521px 291px #fff, 89px 499px #fff, 880px 343px #fff,
        244px 151px #fff, 747px 281px #fff, 977px 1549px #fff, 602px 357px #fff,
        557px 740px #fff, 1523px 845px #fff, 976px 1084px #fff, 829px 918px #fff,
        679px 676px #fff, 20px 1861px #fff, 1887px 81px #fff, 851px 1274px #fff,
        1127px 1858px #fff, 1150px 1643px #fff, 732px 433px #fff,
        1746px 689px #fff, 848px 536px #fff, 1681px 1160px #fff,
        1989px 1572px #fff, 1600px 442px #fff, 816px 1733px #fff,
        499px 100px #fff, 1931px 23px #fff, 305px 25px #fff, 768px 1116px #fff,
        1938px 1852px #fff, 656px 944px #fff, 542px 269px #fff, 320px 317px #fff,
        11px 569px #fff, 714px 1523px #fff, 1761px 833px #fff, 1243px 35px #fff,
        23px 1143px #fff, 1123px 1283px #fff, 728px 21px #fff, 8px 1039px #fff,
        522px 1353px #fff, 531px 1130px #fff, 1134px 198px #fff,
        1736px 314px #fff, 208px 389px #fff, 1075px 775px #fff,
        362px 1950px #fff, 1388px 1326px #fff, 1467px 5px #fff,
        632px 1783px #fff, 1522px 681px #fff, 1142px 1698px #fff,
        250px 586px #fff, 1680px 812px #fff, 1118px 90px #fff, 538px 348px #fff,
        1574px 43px #fff, 52px 629px #fff, 1266px 258px #fff, 1752px 1975px #fff,
        218px 1566px #fff, 1805px 1306px #fff, 885px 1832px #fff,
        899px 223px #fff, 1992px 304px #fff, 1670px 1273px #fff,
        1007px 1372px #fff, 1524px 1525px #fff, 1557px 731px #fff,
        1471px 784px #fff, 1604px 1404px #fff, 266px 1704px #fff,
        362px 40px #fff, 356px 554px #fff, 1109px 467px #fff, 126px 1062px #fff,
        1681px 1847px #fff, 1595px 782px #fff, 380px 1304px #fff,
        296px 1391px #fff, 741px 898px #fff, 1572px 312px #fff,
        1524px 930px #fff, 1323px 1833px #fff, 1395px 19px #fff,
        460px 479px #fff, 1754px 1805px #fff, 397px 54px #fff, 225px 1211px #fff,
        569px 1850px #fff, 1044px 1916px #fff, 616px 1184px #fff,
        1310px 1655px #fff, 1555px 1950px #fff, 1571px 378px #fff,
        879px 1978px #fff, 526px 632px #fff, 583px 115px #fff,
        1284px 1895px #fff, 286px 578px #fff, 42px 1162px #fff,
        780px 1025px #fff, 302px 1529px #fff, 1762px 644px #fff,
        1257px 1710px #fff, 780px 1318px #fff, 77px 1811px #fff,
        1646px 1973px #fff, 1413px 705px #fff, 1755px 714px #fff,
        783px 210px #fff, 1963px 738px #fff, 1979px 182px #fff, 131px 935px #fff,
        1649px 1303px #fff, 1558px 810px #fff, 284px 1061px #fff,
        1637px 1326px #fff, 587px 740px #fff, 256px 288px #fff,
        780px 1594px #fff, 129px 1914px #fff, 1255px 1235px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 92px 692px #fff, 411px 791px #fff, 1692px 1528px #fff,
        324px 316px #fff, 1744px 1056px #fff, 946px 1079px #fff,
        1320px 272px #fff, 166px 1550px #fff, 217px 926px #fff,
        1172px 1153px #fff, 106px 1736px #fff, 549px 940px #fff,
        854px 945px #fff, 1951px 1677px #fff, 747px 1890px #fff,
        1709px 1325px #fff, 1081px 274px #fff, 1652px 90px #fff,
        1488px 1196px #fff, 726px 1098px #fff, 1310px 1883px #fff,
        197px 433px #fff, 155px 329px #fff, 1714px 1198px #fff, 267px 559px #fff,
        1634px 3px #fff, 934px 91px #fff, 1625px 1760px #fff, 1683px 1308px #fff,
        1525px 946px #fff, 1024px 843px #fff, 1565px 133px #fff,
        838px 921px #fff, 1484px 1597px #fff, 389px 1630px #fff,
        1321px 1598px #fff, 1666px 1593px #fff, 346px 1133px #fff,
        63px 1265px #fff, 1058px 1599px #fff, 1677px 1621px #fff,
        1416px 116px #fff, 160px 10px #fff, 1694px 91px #fff, 1167px 967px #fff,
        1926px 1013px #fff, 1168px 64px #fff, 1597px 655px #fff,
        14px 1993px #fff, 1988px 320px #fff, 530px 634px #fff, 1338px 449px #fff,
        1885px 39px #fff, 1584px 803px #fff, 332px 109px #fff, 1325px 859px #fff,
        298px 511px #fff, 134px 1266px #fff, 902px 1546px #fff,
        1354px 610px #fff, 1440px 1453px #fff, 1422px 1320px #fff,
        729px 254px #fff, 750px 1764px #fff, 563px 32px #fff, 448px 1141px #fff,
        567px 1634px #fff, 137px 1571px #fff, 1247px 713px #fff,
        616px 446px #fff, 1626px 380px #fff, 23px 692px #fff, 1833px 840px #fff,
        130px 1681px #fff, 1018px 910px #fff, 1577px 102px #fff,
        1037px 723px #fff, 380px 623px #fff, 96px 456px #fff, 385px 699px #fff,
        582px 374px #fff, 1915px 1974px #fff, 205px 1028px #fff,
        678px 531px #fff, 1105px 1761px #fff, 1354px 710px #fff,
        380px 1553px #fff, 1320px 762px #fff, 275px 1675px #fff,
        1212px 971px #fff, 805px 16px #fff, 1713px 1533px #fff,
        1120px 853px #fff, 365px 934px #fff, 1009px 329px #fff,
        254px 1565px #fff, 1433px 120px #fff, 282px 1575px #fff,
        1442px 261px #fff, 1602px 72px #fff, 1480px 1231px #fff,
        256px 1086px #fff, 320px 812px #fff, 451px 1449px #fff,
        2000px 1422px #fff, 1376px 801px #fff, 1350px 858px #fff,
        1837px 651px #fff, 187px 1147px #fff, 1605px 1507px #fff,
        71px 1834px #fff, 1021px 1956px #fff, 299px 971px #fff, 412px 631px #fff,
        1435px 1164px #fff, 859px 456px #fff, 1906px 599px #fff,
        307px 1122px #fff, 1462px 1363px #fff, 1512px 1745px #fff,
        834px 1568px #fff, 706px 87px #fff, 235px 1370px #fff, 331px 1093px #fff,
        1688px 370px #fff, 302px 1987px #fff, 564px 1369px #fff,
        930px 1117px #fff, 1758px 1169px #fff, 1725px 102px #fff,
        1562px 1306px #fff, 101px 33px #fff, 1415px 397px #fff,
        103px 1446px #fff, 1109px 653px #fff, 978px 1111px #fff,
        266px 851px #fff, 1180px 383px #fff, 1439px 314px #fff,
        1675px 1061px #fff, 158px 1106px #fff, 646px 1644px #fff,
        1117px 952px #fff, 1846px 977px #fff, 1743px 1842px #fff,
        877px 1998px #fff, 1445px 945px #fff, 1508px 1540px #fff,
        776px 1620px #fff, 114px 1855px #fff, 1391px 1098px #fff,
        1230px 854px #fff, 1218px 1043px #fff, 508px 1765px #fff,
        1960px 177px #fff, 1408px 8px #fff, 604px 1219px #fff, 273px 951px #fff,
        407px 1113px #fff, 993px 1824px #fff, 331px 227px #fff,
        1868px 1929px #fff, 1318px 1683px #fff, 899px 482px #fff,
        1685px 986px #fff, 1355px 1772px #fff, 751px 239px #fff, 3px 286px #fff,
        544px 1536px #fff, 851px 985px #fff, 1754px 110px #fff,
        1579px 456px #fff, 1914px 959px #fff, 1169px 1779px #fff,
        1829px 1230px #fff, 951px 1528px #fff, 1149px 1913px #fff,
        1161px 1311px #fff, 1110px 70px #fff, 1215px 1672px #fff,
        349px 475px #fff, 841px 1209px #fff, 1474px 1798px #fff,
        1181px 1397px #fff, 1753px 169px #fff, 913px 113px #fff,
        1500px 1734px #fff, 966px 852px #fff, 1640px 61px #fff, 24px 1127px #fff,
        522px 228px #fff, 1145px 863px #fff, 99px 670px #fff, 719px 1372px #fff,
        52px 292px #fff, 1628px 125px #fff, 1896px 1047px #fff,
        1038px 278px #fff, 611px 1545px #fff, 861px 434px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 92px 692px #fff, 411px 791px #fff, 1692px 1528px #fff,
        324px 316px #fff, 1744px 1056px #fff, 946px 1079px #fff,
        1320px 272px #fff, 166px 1550px #fff, 217px 926px #fff,
        1172px 1153px #fff, 106px 1736px #fff, 549px 940px #fff,
        854px 945px #fff, 1951px 1677px #fff, 747px 1890px #fff,
        1709px 1325px #fff, 1081px 274px #fff, 1652px 90px #fff,
        1488px 1196px #fff, 726px 1098px #fff, 1310px 1883px #fff,
        197px 433px #fff, 155px 329px #fff, 1714px 1198px #fff, 267px 559px #fff,
        1634px 3px #fff, 934px 91px #fff, 1625px 1760px #fff, 1683px 1308px #fff,
        1525px 946px #fff, 1024px 843px #fff, 1565px 133px #fff,
        838px 921px #fff, 1484px 1597px #fff, 389px 1630px #fff,
        1321px 1598px #fff, 1666px 1593px #fff, 346px 1133px #fff,
        63px 1265px #fff, 1058px 1599px #fff, 1677px 1621px #fff,
        1416px 116px #fff, 160px 10px #fff, 1694px 91px #fff, 1167px 967px #fff,
        1926px 1013px #fff, 1168px 64px #fff, 1597px 655px #fff,
        14px 1993px #fff, 1988px 320px #fff, 530px 634px #fff, 1338px 449px #fff,
        1885px 39px #fff, 1584px 803px #fff, 332px 109px #fff, 1325px 859px #fff,
        298px 511px #fff, 134px 1266px #fff, 902px 1546px #fff,
        1354px 610px #fff, 1440px 1453px #fff, 1422px 1320px #fff,
        729px 254px #fff, 750px 1764px #fff, 563px 32px #fff, 448px 1141px #fff,
        567px 1634px #fff, 137px 1571px #fff, 1247px 713px #fff,
        616px 446px #fff, 1626px 380px #fff, 23px 692px #fff, 1833px 840px #fff,
        130px 1681px #fff, 1018px 910px #fff, 1577px 102px #fff,
        1037px 723px #fff, 380px 623px #fff, 96px 456px #fff, 385px 699px #fff,
        582px 374px #fff, 1915px 1974px #fff, 205px 1028px #fff,
        678px 531px #fff, 1105px 1761px #fff, 1354px 710px #fff,
        380px 1553px #fff, 1320px 762px #fff, 275px 1675px #fff,
        1212px 971px #fff, 805px 16px #fff, 1713px 1533px #fff,
        1120px 853px #fff, 365px 934px #fff, 1009px 329px #fff,
        254px 1565px #fff, 1433px 120px #fff, 282px 1575px #fff,
        1442px 261px #fff, 1602px 72px #fff, 1480px 1231px #fff,
        256px 1086px #fff, 320px 812px #fff, 451px 1449px #fff,
        2000px 1422px #fff, 1376px 801px #fff, 1350px 858px #fff,
        1837px 651px #fff, 187px 1147px #fff, 1605px 1507px #fff,
        71px 1834px #fff, 1021px 1956px #fff, 299px 971px #fff, 412px 631px #fff,
        1435px 1164px #fff, 859px 456px #fff, 1906px 599px #fff,
        307px 1122px #fff, 1462px 1363px #fff, 1512px 1745px #fff,
        834px 1568px #fff, 706px 87px #fff, 235px 1370px #fff, 331px 1093px #fff,
        1688px 370px #fff, 302px 1987px #fff, 564px 1369px #fff,
        930px 1117px #fff, 1758px 1169px #fff, 1725px 102px #fff,
        1562px 1306px #fff, 101px 33px #fff, 1415px 397px #fff,
        103px 1446px #fff, 1109px 653px #fff, 978px 1111px #fff,
        266px 851px #fff, 1180px 383px #fff, 1439px 314px #fff,
        1675px 1061px #fff, 158px 1106px #fff, 646px 1644px #fff,
        1117px 952px #fff, 1846px 977px #fff, 1743px 1842px #fff,
        877px 1998px #fff, 1445px 945px #fff, 1508px 1540px #fff,
        776px 1620px #fff, 114px 1855px #fff, 1391px 1098px #fff,
        1230px 854px #fff, 1218px 1043px #fff, 508px 1765px #fff,
        1960px 177px #fff, 1408px 8px #fff, 604px 1219px #fff, 273px 951px #fff,
        407px 1113px #fff, 993px 1824px #fff, 331px 227px #fff,
        1868px 1929px #fff, 1318px 1683px #fff, 899px 482px #fff,
        1685px 986px #fff, 1355px 1772px #fff, 751px 239px #fff, 3px 286px #fff,
        544px 1536px #fff, 851px 985px #fff, 1754px 110px #fff,
        1579px 456px #fff, 1914px 959px #fff, 1169px 1779px #fff,
        1829px 1230px #fff, 951px 1528px #fff, 1149px 1913px #fff,
        1161px 1311px #fff, 1110px 70px #fff, 1215px 1672px #fff,
        349px 475px #fff, 841px 1209px #fff, 1474px 1798px #fff,
        1181px 1397px #fff, 1753px 169px #fff, 913px 113px #fff,
        1500px 1734px #fff, 966px 852px #fff, 1640px 61px #fff, 24px 1127px #fff,
        522px 228px #fff, 1145px 863px #fff, 99px 670px #fff, 719px 1372px #fff,
        52px 292px #fff, 1628px 125px #fff, 1896px 1047px #fff,
        1038px 278px #fff, 611px 1545px #fff, 861px 434px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 441px 1574px #fff, 129px 168px #fff, 1712px 1957px #fff,
        968px 1950px #fff, 1168px 1710px #fff, 607px 658px #fff,
        1764px 534px #fff, 1452px 856px #fff, 1373px 240px #fff,
        761px 1708px #fff, 1088px 780px #fff, 1032px 1286px #fff,
        1356px 38px #fff, 1203px 584px #fff, 418px 1696px #fff, 469px 120px #fff,
        1426px 1649px #fff, 1211px 909px #fff, 972px 1385px #fff,
        1470px 98px #fff, 1451px 792px #fff, 156px 920px #fff, 391px 1501px #fff,
        233px 1547px #fff, 905px 1747px #fff, 601px 301px #fff,
        1308px 254px #fff, 1774px 1440px #fff, 817px 592px #fff,
        2000px 1488px #fff, 1463px 570px #fff, 707px 356px #fff,
        841px 711px #fff, 1989px 500px #fff, 727px 204px #fff, 18px 1779px #fff,
        1421px 948px #fff, 277px 1046px #fff, 1430px 1480px #fff,
        553px 772px #fff, 1623px 1669px #fff, 1811px 630px #fff,
        1669px 636px #fff, 178px 450px #fff, 1368px 987px #fff, 82px 1982px #fff,
        1856px 155px #fff, 1471px 1970px #fff, 1574px 814px #fff,
        1460px 50px #fff, 545px 345px #fff, 1330px 1413px #fff,
        1245px 235px #fff, 42px 959px #fff, 1302px 1718px #fff,
        1537px 1563px #fff, 1536px 704px #fff, 1729px 1869px #fff,
        1755px 754px #fff, 810px 191px #fff, 1065px 410px #fff,
        1151px 534px #fff, 394px 1069px #fff, 485px 357px #fff,
        1504px 936px #fff, 1435px 1550px #fff, 77px 351px #fff,
        687px 1684px #fff, 646px 1663px #fff, 687px 1361px #fff,
        281px 1205px #fff, 1045px 1165px #fff, 1830px 1672px #fff,
        1644px 195px #fff, 1281px 90px #fff, 888px 983px #fff, 94px 906px #fff,
        457px 1239px #fff, 916px 1097px #fff, 1769px 862px #fff,
        1092px 233px #fff, 647px 1286px #fff, 64px 1283px #fff,
        1824px 1782px #fff, 1085px 263px #fff, 1252px 1062px #fff,
        779px 1802px #fff, 1535px 1972px #fff, 860px 1711px #fff,
        1489px 596px #fff, 776px 937px #fff, 598px 1897px #fff,
        1092px 351px #fff, 736px 1536px #fff, 1323px 1638px #fff,
        293px 1086px #fff, 1211px 91px #fff, 1474px 1613px #fff,
        1141px 195px #fff, 885px 764px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 441px 1574px #fff, 129px 168px #fff, 1712px 1957px #fff,
        968px 1950px #fff, 1168px 1710px #fff, 607px 658px #fff,
        1764px 534px #fff, 1452px 856px #fff, 1373px 240px #fff,
        761px 1708px #fff, 1088px 780px #fff, 1032px 1286px #fff,
        1356px 38px #fff, 1203px 584px #fff, 418px 1696px #fff, 469px 120px #fff,
        1426px 1649px #fff, 1211px 909px #fff, 972px 1385px #fff,
        1470px 98px #fff, 1451px 792px #fff, 156px 920px #fff, 391px 1501px #fff,
        233px 1547px #fff, 905px 1747px #fff, 601px 301px #fff,
        1308px 254px #fff, 1774px 1440px #fff, 817px 592px #fff,
        2000px 1488px #fff, 1463px 570px #fff, 707px 356px #fff,
        841px 711px #fff, 1989px 500px #fff, 727px 204px #fff, 18px 1779px #fff,
        1421px 948px #fff, 277px 1046px #fff, 1430px 1480px #fff,
        553px 772px #fff, 1623px 1669px #fff, 1811px 630px #fff,
        1669px 636px #fff, 178px 450px #fff, 1368px 987px #fff, 82px 1982px #fff,
        1856px 155px #fff, 1471px 1970px #fff, 1574px 814px #fff,
        1460px 50px #fff, 545px 345px #fff, 1330px 1413px #fff,
        1245px 235px #fff, 42px 959px #fff, 1302px 1718px #fff,
        1537px 1563px #fff, 1536px 704px #fff, 1729px 1869px #fff,
        1755px 754px #fff, 810px 191px #fff, 1065px 410px #fff,
        1151px 534px #fff, 394px 1069px #fff, 485px 357px #fff,
        1504px 936px #fff, 1435px 1550px #fff, 77px 351px #fff,
        687px 1684px #fff, 646px 1663px #fff, 687px 1361px #fff,
        281px 1205px #fff, 1045px 1165px #fff, 1830px 1672px #fff,
        1644px 195px #fff, 1281px 90px #fff, 888px 983px #fff, 94px 906px #fff,
        457px 1239px #fff, 916px 1097px #fff, 1769px 862px #fff,
        1092px 233px #fff, 647px 1286px #fff, 64px 1283px #fff,
        1824px 1782px #fff, 1085px 263px #fff, 1252px 1062px #fff,
        779px 1802px #fff, 1535px 1972px #fff, 860px 1711px #fff,
        1489px 596px #fff, 776px 937px #fff, 598px 1897px #fff,
        1092px 351px #fff, 736px 1536px #fff, 1323px 1638px #fff,
        293px 1086px #fff, 1211px 91px #fff, 1474px 1613px #fff,
        1141px 195px #fff, 885px 764px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
